<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon name="cloud-download"></ion-icon>
    <ion-button href="bouts-de-code">bouts de code</ion-button>
  </ion-item>

  <ion-item>
    <ion-icon name="grid"></ion-icon>
    <ion-button href="tableaux">les tableaux</ion-button>
  </ion-item>

  <ion-item>
    <ion-icon name="color-filter"></ion-icon>
    <ion-button href="ngmodel">ngModel</ion-button>
  </ion-item>

  <ion-item>
    <ion-icon name="redo"></ion-icon>
    <ion-button href="clic">clic</ion-button>
  </ion-item>


</ion-content>